@font-face {
    font-family: "BebasNeue";
    src: url("police/BebasNeue-Regular.otf")
}

@font-face {
    font-family: "Shadow";
    src: url("police/ShadowsIntoLight-Regular.ttf")
}

@font-face {
    font-family: "Banger";
    src: url("police/Bangers-Regular.ttf");
}


h1{
    font-size: 20px;
}

body {
    background-color: rgb(43, 43, 43);
}

.Navigation {
    font-family: "BebasNeue";
}

.nav-link {
    color: white !important;
}


a:hover {
    color: orange !important;
    text-decoration: underline !important;
}

.NosBurgers {
    font-family: "BebasNeue";
}

.titre {
    color: white;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
}

.Texte {
    color: orange;
    font-size: 15px;
}

.Prix {
    color: rgb(203, 203, 203);
    font-size: 40px;
}

/* Nos Burgers*/

.Ob {
    color: orange;
    text-align: center;
    margin-top: 10px;
}

.Ob::before {
    content: "";
    margin-right: 20px;
    width: 200px;
    border-bottom: 2px solid #ff9900;
    display: inline-block;
    margin-bottom: 5px;
}

.Ob::after {
    content: "";
    margin-left: 20px;
    width: 200px;
    border-bottom: 2px solid #ff9900;
    display: inline-block;
    margin-bottom: 5px;
}

/*Bouton pdf */

.btn2 {
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
    background-color: orange;
}

.btn2>a {
    color: white !important;
}

/* Bouton + de Burgers*/

.btn1>a {
    color: white !important;
}

.btn1 {
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(43, 43, 43);
    text-align: center;
    background-color: orange
}

/* Bar menu */
.Bar2 {
        color: rgb(25, 91, 90);
        text-align: center;
        margin-top: 10px;
        font-family: "BebasNeue";
    }
    .Bar2::before {
        content: "";
        margin-right: 20px;
        width: 200px;
        border-bottom: 2px solid rgb(25, 91, 90);
        display: inline-block;
        margin-bottom: 5px;
    }

    .Bar2::after {
        content: "";
        margin-left: 20px;
        width: 200px;
        border-bottom: 2px solid rgb(25, 91, 90);
        display: inline-block;
        margin-bottom: 5px;
}
/*Super */

.Super {
    color: white;
    font-family: "Shadow";
    font-size: 25px;
}

#Square {
    background-color: rgb(25, 91, 90);
}

.btn3 {
    float: right;
    background-color: rgb(25, 91, 90);
    border-style: dashed;
    border-color: white;
    bottom: 0;
    right: 0;

}

.btn3>a {
    color: white;
}

/* Coffee */
.coffee {
    color: rgb(119, 31, 47);
    text-align: center;
    margin-top: 10px;
    font-family: "BebasNeue";
}

.coffee::before {
    content: "";
    margin-right: 20px;
    width: 200px;
    border-bottom: 2px solid rgb(119, 31, 47);
    display: inline-block;
    margin-bottom: 5px;
}

.coffee::after {
    content: "";
    margin-left: 20px;
    width: 200px;
    border-bottom: 2px solid rgb(119, 31, 47);
    display: inline-block;
    margin-bottom: 5px;
}


/* Localisation */


#Green {
    background-color: rgb(186, 147, 56);
}

.Vert {
    color: rgb(186, 147, 56);
    text-align: center;
    margin-top: 10px;
    font-family: "BebasNeue";
}

.Vert::before {
    content: "";
    margin-right: 20px;
    width: 200px;
    border-bottom: 2px solid rgb(186, 147, 56);
    display: inline-block;
    margin-bottom: 5px;
}
.Vert::after {
    content: "";
    margin-left: 20px;
    width: 200px;
    border-bottom: 2px solid rgb(186, 147, 56);
    display: inline-block;
    margin-bottom: 5px;
}
.TV {
    font-family: "Banger";
    color: rgb(43, 43, 43);
}

/* Footer */


hr {
    background-color: grey;
}

.bouton {
    border-style: dashed;
    background-color: rgb(25, 91, 90);
    right: 200px;
    bottom: 0;
    right: 50;
    position: fixed;
    opacity: 80%;
}

.bouton>a {
    color: white !important;
}

footer {
    color: white;
    font-family: "Bebas Neue";
}

/*Local*/

.email {
    color: white !important;
}

.Or {
    background-color: white;
    border-radius: 100%;
}

.navbar-toggler-icon {
    color: orange !important;
}


/*Animation*/

.NosBurgers {
    animation-duration: 4s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    75% {
        font-size: 100%;
        margin-left: 25%;
        width: 150%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


/* Image café cercle */

.cercle {
    z-index: 30;
    background-color: red;
    border-radius: 100%;
    border: 5px;
    opacity: 100%;
    width:40vw!important;
    max-width:350px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}

.cercle:before{
    padding-top:100%; content:"";
}
/* MediaQueries*/


@media (max-width:719px) {

    .Ob::before {
        width: 100px;
    }

    .Ob::after {
        width: 100px;
    }

    .Vert::before {
        width: 100px;
    }

    .Vert::after {
        width: 100px;
    }

    .coffee::before {
        width: 100px;
    }

    .coffee::after {
        width: 100px;
    }
    .Bar2::before {
        width: 100px;
    }

    .Bar2::after {
        width: 100px;
    }

}